
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    
}
    
.div1 {
    grid-column: span 3 / span 3;           /*3 Spalten und 3 Spalten*/
    border: 5px solid #dd0000;
    border-radius: 15px;
    box-shadow: 1px 1px 39px #dd0000;
    /*background-color: #fd8080;*/
    text-align: center;
    font-size: 50px;
    font-family:Times New Roman;
    font-weight: bold;
    color: #dd0000;
}

.div2 {
    grid-column-start: 4;                   /*das ist die 4. Spalte*/
    text-align: center;
}

.div3 {
    grid-column-start: 5;
    text-align: center;
    font-size: 25px;

    
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    border: 5px solid #dd0000;
    border-radius: 15px;
    box-shadow: 1px 1px 39px #dd0000;
}

.div5 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
    border: 5px solid #dd0000;
    border-radius: 15px;
    box-shadow: 1px 1px 39px #dd0000;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;
    border: 5px solid #dd0000;
    border-radius: 15px;
    box-shadow: 1px 1px 39px #dd0000;
}
        